<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <style>
        .error {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
    <br/>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
    <br/>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
    <br/>

    <input type="submit" value="Add user"/>
    <button th:href="@{/user}">Back</button>
</form>
</body>
</html>
